body {
    background-color: greenyellow;
}

#main {
    display: flex;
    color: white;
}

#name {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    white-space: nowrap;
}